.shop {
	.fuhrerImage {
		min-width: 100vw;
		// min-height: 80vh;
		// height: 500px;
		max-height: 70vh;
	}
}

.listNFilter {
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;

	.filter {
		// height: 100px;
		min-height: min-content;
		width: 300px;
		flex-grow: 0;
		flex-shrink: 0;
		position: sticky;
		top: 0;
	}

	.productsList {
		padding: 35px 15px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-column-gap: 15px;
		grid-row-gap: 25px;
		justify-items: center;
		justify-content: center;
		align-items: start;
		width: 80%;
		width: fit-content;
		box-sizing: border-box;
		& > * {
			max-width: 310px;
			// width: max(40%, 310px);
			margin: 10px;
			box-sizing: content-box;
			padding: 0;
			margin: 0;
			border-radius: 2px;
		}
		@media only screen and (max-width: 1450px) {
			& {
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}
		}
		@media only screen and (max-width: 1180px) {
			& {
				grid-template-columns: 1fr 1fr 1fr ;
			}
		}
		@media only screen and (max-width: 950px) {
			& {
				grid-template-columns: 1fr 1fr ;
			}
		}
		@media only screen and (max-width: 470px) {
			& {
				grid-template-columns: 1fr ;
			}
		}
	}
}
