body {
	--body-background-color: #f9f9fb;
	--primary-text-color: #3e3e3f;
	--muted-text-color: #6e6e6e;
	--nav-background-color: #3c3c3e;
	--nav-text-color: #fffffb;
	--accent-color: #f75d7b;
	--border-color: #e6e6e6;
	--surface-color: #f2f2f4;
}

html,
body {
	max-width: 100vw;
	background-color: var(--body-background-color);
	color: var(--primary-text-color);
	font-family: "Roboto", sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	padding: 0;
	margin: 0;
}
h1,
h2,
h3,
h4 {
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
}

h5,
h6,
button,
a {
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	letter-spacing: 0.01em;
}

.hoverDivision {
	border: 1px solid var(--border-color);
	&:hover {
		border: 1px solid var(--primary-text-color);
	}
}

.button {
	all: unset;
	display: inline-block;
	box-sizing: border-box;
	user-select: none;
	cursor: pointer;
	text-align: center;
	line-height: 40px;
	font-weight: 500;
	border-radius: 6px;
	transition: all 0.07s ease-in-out;
	padding: 6px 32px;
	margin-right: 4px;
	background-color: var(--accent-color);
	color: #ffffff;
	font-size: 15px;
	&:active:focus {
		color: #ffffff;
		background-color: #e14d6c;
	}
	&:focus {
		color: #ffffff;
		background-color: #e14d6c;
	}

	&.important {
		background-color: #3e3e3f;
		color: #f6f7f9;
	}
}

.button2 {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--muted-text-color);
	width: auto;
	font-size: 15px;
	padding: 5px 18px;
	margin: 15px 0;
	box-shadow: none;
	bottom: none;
	&:active:focus {
		background-color: white;
	}
	&:focus {
		background-color: white;
	}
}
.input-field input:focus {
	border-bottom: 1px solid #f75d7b !important;
	box-shadow: none !important;
}
.input-field > span {
	color: #f75d7b !important;
}

button,
a {
	cursor: pointer;
	user-select: none;
}

main {
	width: 100%;
	padding: 0;
	min-height: calc(100vh - 180px);
}

.toggle-container {
	display: inline-block;
	position: relative;
	width: 60px;
	height: 30px;
	background-color: #bedff5;
	border-radius: 105px;
	cursor: pointer;
	/* overflow: hidden; */
	border: 1px solid #00000011;
	box-sizing: content-box;
}

.toggle-inner {
	position: absolute;
	width: 50%;
	height: calc(100% - 1px);
	background-color: #fff;
	border-radius: 20px;
	transition: transform 0.3s ease;
}

.toggle-container.active .toggle-inner {
	transform: translateX(100%);
}
.toggle-container.active {
	background-color: #3498db;
}

.input {
	font-size: 18px;
	padding: 8px 20px;
	width: 400px;
}

input[type="color"] {
	cursor: pointer;
}
