.homeWrapper {
	padding-top: 0;
}
.hero {
	display: flex;
	height: calc(100vh - 120px);
	justify-content: space-between;
	// background-color: red;
	max-width: 1800px;

	@media only screen and (max-width: 1100px) {
		& {
			padding-left: 20px;
		}
	}
	@media only screen and (max-width: 820px) {
		padding-left: 0px;
		flex-direction: column;
		height: auto;
	}
}

.button {
	all: unset;
	background-color: #000000;
	padding: 15px 50px;
	display: inline-block;
	color: white;
	font-size: 20px;
	font-weight: 500;
	border-radius: 3px;
	cursor: pointer;
}

.heroContent {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 60%;
	padding-left: 100px;
	h1 {
		margin-bottom: 2px;
		font-weight: 100;
	}
	h6 {
		margin-top: 2px;
		margin-bottom: 35px;
		max-width: 400px;
		font-size: 1.2em;
	}

	@media only screen and (max-width: 1100px) {
		& {
			padding-left: 0px;
			width: 50%;
		}
		h1 {
			font-size: 50px;
		}
	}
	@media only screen and (max-width: 820px) {
		& {
			width: 80vw;
		}
	}
	@media only screen and (max-width: 500px) {
		& {
			width: 100%;
			padding-left: 15px;
		}
	}
}

.heroImages {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	// max-height: 80vh;
	img {
		height: 100% !important;
		width: 80% !important;
		object-fit: contain;
		position: relative;
		left: -10% !important;
		// transform: translateX(-10%) !important;
	}
	@media only screen and (max-width: 1100px) {
		& {
			width: 50%;
		}
	}
	@media only screen and (max-width: 820px) {
		& {
			width: 100% !important;
			margin: 50px 10vw 0 10vw;
			max-width: 500px;
			height: 450px;
		}
	}
}

.offendingSection {
	// color: white;
	margin-top: 100px;
	min-height: 100vh;
	padding: 100px 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
	h1 {
		margin-bottom: 100px;
	}
	& > div {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		padding: 0 40px;
		flex-wrap: wrap;
		row-gap: 5px;
		& > div {
			width: 20vw;
			min-width: 200px;
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			img {
				width: 100%;
				height: auto;
			}
			p {
				font-size: 1.6em;
			}
		}
		// align-items: ;
	}
	@media only screen and (max-width: 950px) {
		& > div {
			& > div {
				width: 45%;
				min-width: 200px;
			}
		}
	}
	@media only screen and (max-width: 550px) {
		& {
			height: min-content;
		}
		& > div {
			height: min-content;
			& > div {
				height: min-content;
				width: 80%;
				min-width: 200px;
				row-gap: 0;
			}
		}
	}
	// justify-content: ;
	// align-items: ;
}

.notPussy {
	width: 100%;
	padding: 10px;
	max-width: 600px;
	margin: 0 auto;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	box-sizing: border-box;
	a {
		font-size: 3em !important;
	}
}

.footer {
	min-height: 50vh;
	padding-left: 10vw;
	background-color: rgb(247, 247, 247);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 100px;
	& > a {
		margin: 10px 0;
		color: black;
		& > h4 {
			margin: 0;
			padding: 0;
			border-bottom: 1px solid black;
		}
	}
}
