.paymentSection {
	position: absolute;
	display: block;
	box-sizing: border-box;
	border: none;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 99vh;
	z-index: 200;
	border: none;
}
