.container {
	cursor: pointer;
	border: 1px solid var(--border-color);
	border-radius: 8px;
	padding: 16px;
	background-color: var(--surface-color);
	box-shadow: 0px 10px 22px var(--shadow-color);
	transition: all 0.3s ease;
	position: relative;
	color: var(--primary-text-color);

	&.selected {
		background-color: var(--surface-color-2);
		border: 2px solid var(--accent-color);
		color: var(--primary-text-color);
		box-shadow: 0px 14px 26px rgba(247, 93, 123, 0.14);
	}
	a {
		border-bottom: 1px solid transparent;
		transition: all 0.2s linear;
	}

	.deleteButton {
		color: #cf0000;
		&:hover,
		&:active {
			border-bottom: 1px solid #cf0000;
		}
	}
	.makeDefaultButton {
		color: #0099e3;
		&:hover,
		&:active {
			border-bottom: 1px solid #0099e3;
		}
	}
}

.checkmark {
	position: absolute;
	top: 10px;
	right: 10px;
	color: var(--accent-color);
	font-size: 20px;
}

.name {
	font-size: 16px;
	font-weight: bold;
	color: var(--primary-text-color);
}

.contact {
	font-size: 14px;
	color: var(--muted-text-color);
}
