.orderView {
	margin: 0;
	padding: 20px 30px;
	border-radius: 8px;
	margin-bottom: 40px;

	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		margin-top: 20px;
	}

	.orderWrapperLink {
		color: var(--primary-text-color);
	}
	h1,
	h2,
	h3,
	h4,
	h5 {
		margin: 0;
	}
	h1 {
		font-size: 24px;
		color: var(--primary-text-color);
	}
	.orderAmount {
		font-size: 21px;
		line-height: 22px;
	}
	.orderStatus {
		font-size: 18px;
		line-height: 19px;
	}
	.orderCreationDate {
		font-size: 13px;
		// line-height: 13px;
	}
}

.orderItem {
	border-radius: 8px;
	text-align: center;
	display: flex;
	flex-direction: column;
	transition: all 0.15s ease-out;

	&__image {
		img {
			width: 70px;
			height: 70px;
			object-fit: contain;
			border-radius: 4px;
		}
	}
	&:hover,
	&:active {
		transform: scale(1.1);
	}

	&__details {
		font-size: 14px;
		color: var(--muted-text-color);

		strong {
			color: var(--primary-text-color);
		}

		div {
			margin-top: 5px;
		}
	}
}
