.product {
	// background-color: rgb(237, 237, 237);
	border: 1px solid rgba(0, 0, 0, 0.1);
	width: 100%;
	&:hover {
		border: 1px solid rgba(0, 0, 0, 0.3);
	}
	font-weight: 100;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	img {
		width: 100%;
	}
	.productImagesSlider {
		flex-grow: 1;
	}
	.productInfo {
		border-top: 1px solid rgba(194, 0, 0, 0.2);
		padding: 15px;
		h6 {
			font-size: 20px;
			margin: 0;
			padding: 0;
		}
	}
	.colorSelector {
		display: flex;
		row-gap: 10px;
		flex-wrap: wrap;
		column-gap: 7px;
	}
	overflow: hidden;
}
